---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
    {% assign author = site.authors[post.author] %}
    <div class="post">
      <h1 class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>

      <ul class="post-metadata">
        <li>{{ post.date | date_to_string }}</li>

        <li class="author-info">
          <img src="http://gravatar.com/avatar/{{ author.gravatar }}?s=18"/>
          {% if author.github %}
            <a href="https://github.com/{{ author.github }}">{{ author.name }}</a>
          {% elsif author.twitter %}
            <a href="https://twitter.com/{{ author.twitter }}">{{ author.name }}</a>
          {% else %}
            {{ author.name }}
          {% endif %}
        </li>
      </ul>

      {{ post.content }}
    </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
